
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <span>RS</span><br><h4>{{Damount}}</h4>
      </div>
      <div class="col-lg-8 col-md-6">
           <div class="row">
                   <div class="form-group  col-md-6">
                        <label for="usr">Amount:</label>
                        <input type="number"  class="form-control" name="amount" [(ngModel)]="amount" required>
                   </div>
                   <div class="form-group col-md-6">
                        <label for="pwd">Reason:</label>
                        <input type="text" class="form-control" name="reason" [(ngModel)]="reason" required>
                   </div>
                   <button type="button" class="btn btn-primary" style="margin:10px"(click)="deposit()">deposit</button>
                   <button type="button" class="btn btn-primary" (click)="credit()">get</button>
                   
              </div>
        </div> 
       </div>

   <div *ngIf="show">
       <div *ngFor="let item of dep">
         <h1>{{item.amount}}</h1>
         <h1>{{item.reason}}</h1>
         <h1>{{item.date|date:'shortDate'}}</h1>
       </div>
   </div>

    </div>
