<div *ngIf="show" [class.test]="true">
{{message}}
</div>
<ul *ngFor="let item of parentdata1">
  <li>{{item}}</li>

</ul>



<div class="container">
  <div class="form-group">
    <input type="text" name="data" [(ngModel)]="data">
    <button type="button" class="btn btn-primary" (click)="send()">send</button>
    <button type="button" class="btn btn-primary" (click)="get()">get</button>
    <app-datachild></app-datachild>
   <!-- <app-datachild  [childdata]="parentdata"(change)="receive($event)"></app-datachild>-->
  </div>


</div>
