
<h1>parent component</h1>

<input type="number" [(ngModel)]="name1">
  <button type="button" (click)="set(name1)">send</button>




<!--
  <div class="container">
    <div class="row border1">
       <div class="col-lg-6 col-md-6 col-sm-3 border1">
            <h1>component1</h1>
            <input type="number" [(ngModel)]="data">
            <div *ngIf="show">
                <h1>{{amount}}</h1>
            </div>
            
            <!--<button type="button"(click)="sendvalue(txtbox.value)">send</button>
      </div>
       <div class="col-lg-6 col-md-6 col-sm-9 border1">
          <app-childcomponent [amount]="data" (change)="update($event)"></app-childcomponent>
               
      </div>
    </div>
  </div>
-->
